{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 1 versions"
        }
      }
    ],
    "react",
    "flow",
    "stage-3"
  ],
  "plugins": [
    "transform-class-properties"
  ]
}
